﻿<title>@ViewData["Title"] - Line Chart</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div"></div>
<script type="text/javascript">


    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: 'https://localhost:7280/Chart/country',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                PopulationChart(data);
                return false;
            }
        });
    }

    function PopulationChart(data) {
        console.log(data[0].CountryId)
        console.log(data[0])
        var dataArray = [
            ['Year','Country']
        ];
        $.each(data, function(i, item) {
            dataArray.push([parseInt(item.Year), parseInt(item.Value)]);
        });
        var options = {
            title: data[0].CountryId.toString(),
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Year',
            },
            vAxis: {
                title: data[0].IndicatorId
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        var data = google.visualization.arrayToDataTable(dataArray);
        chart.draw(data, options);
    }
</script>  